#header {
    background: #110bd7;
    height: auto;
    padding: 20px 20px;
}

h2 {
    color: rgb(246, 242, 242);
    font-family: Arial;
    text-align: left;
}

.header-text {
    text-align: center;
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: hsla(0, 0%, 100%, 0.743);
    background-color: hsl(0, 0%, 10%);
    line-height: 1.5;
}

.table_row:nth-child(odd) {
    background-color: hsl(250, 90%, 45%);
}

.table_row:nth-child(even) {
    background-color: hsl(250, 8%, 15%);
}

.table_header {
    text-align: left;
    background-color: #110bd7;
}

.table {
    border-spacing: 5;
    margin: 2rem;
    background-color: rgb(36, 5, 116);
}
