<!DOCTYPE html>
<html>
<head>
    <title>Random Name</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>

<script>
<!--
function timedRefresh(timeoutPeriod) {
    setTimeout("location.reload(true);",timeoutPeriod);
}

if (sessionStorage.getItem('refreshCount') === null) {
sessionStorage.setItem('refreshCount', 0);
}

let refreshCount = parseInt(sessionStorage.getItem('refreshCount'));

if (refreshCount < 50) {
    refreshCount++;
    sessionStorage.setItem('refreshCount', refreshCount);
    window.onload = timedRefresh(100);
}
//   -->
</script>

<body>
    <ul>
        <h1>Team Sprint Planning Review</h1>
        <th class="table_header">
            <h3>Will pick engineer from the following list</h3>
        </th>
        <table class="table">
        {% for name in names %}
        <tr class="table_row">
        <td>{{name}}</td>
        </tr>
        {% endfor %}
        </tr>
        </table>
        <table class="table">
        <tr>
            <td>Enginer chosen is {{ engineer }}</td>
        </tr>
        </table>
    </ul>
</body>
</html>
