<!DOCTYPE html>
<html>

<head>
    <title>QEMU VM and LXC System Container Lab by Amit Karia</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>

<div id="header">
    <h2>QEMU VM and LXC Container LAB by Amit Karia</h2>
</div>

<script>
    <!--
    function timedRefresh(timeoutPeriod) {
        setTimeout("location.reload(true);",timeoutPeriod);
    }

    window.onload = timedRefresh(2500);

    //   -->
</script>

<body>
    <ul>
        <table = class="table">
            <th>Host System Information</th>
            <tr class="table_row">
            {% for key in system_info %}
            <td> {{ key }} </td>
            {% endfor %}
            </tr>
            <tr class="table_row">
            {% for key in system_info %}
            <td> {{ system_info[key] }} </td>
            {% endfor %}
            </tr>
        </table>
        <table class="table">
        <th>Name</th>
        <th>CPU Cores</th>
        <th>System RAM</th>
        <th>Date Created</th>
        <th>CPU usage (secs)</th>
        <th>RAM Usage (%)</th>
        <th>RAM Usage</th>
        <th>Status</th>
        <th>Type</th>
        <th>OS</th>
        <th>Protected (y/n)</th>
        <th>Network</th>
        {% for instance in instances %}
        <tr class="table_row">
        {% set cells = instance.split(",") %}
        {% for cell in cells %}
        {% if cell is not none %}
        <td> {{ cell }} </td>
        {% endif %}
        {% endfor %}
        </tr>
        {% endfor %}
        </tr>
        </table>
        <table class="table">
        <tr>
            <td class="row_summary">Total Instance Qty : {{ instance_qty }}</td>
            <td class="row_summary">LXC Container Qty : {{ lxc_instance_qty }}</td>
            <td class="row_summary">QEMU VM Qty : {{ vm_instance_qty }}</td>
            <td class="row_summary">Running Instance Qty : {{  running_instance_qty }}</td>
            <td class="row_summary">Stopped Instance Qty : {{  stopped_instance_qty }}</td>
        </tr>
        </table>
    </ul>
</body>
</html>
