<!DOCTYPE html>
<html>
<head>
    <title>Notice</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>


<body>
    <ul>
        <h1>This frontend feature is currently broken due to new feature added to stack creation tool</h1>
        <table>
            <h3>Will fix this in later iteration</h3>
            <h3>Due to lack off time as working on this early morning before getting ready to go to the office</h3>
            <h3>Profuse Apologies - Amit Karia</h3>
        </table>
    </ul>
</body>
</html>
